<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Cadastro de pedido</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron mb-3">
      <h1 class="display-4">Novo pedido</h1>
    </div>
    <div class="card">
      <div class="card-body">
        <form action="/pedido/novo" method="POST">
          <div class="form-group">
            <label for="nomeProduto">Produto: </label>
            <input type="text" class="form-control" id="nomeProduto" name="nomeProduto" placeholder="nome do produto"
              required>
            <small class="form-text text-muted">Informe qual o nome do produto</small>
          </div>
          <div class="form-group">
            <label for="urlProduto">Url do Produto: </label>
            <input type="text" class="form-control" id="urlProduto" name="urlProduto" placeholder="url do produto"
              required>
            <small class="form-text text-muted">Procure em um site o produto desejado e coloque a url aqui</small>
          </div>
          <div class="form-group">
            <label for="urlImagem">Url da Imagem: </label>
            <input type="text" class="form-control" id="urlImagem" name="urlImagem" placeholder="url da imagem"
              required>
            <small class="form-text text-muted">Coloque aqui a url da imagem do produto desejado aqui</small>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição: </label>
            <textarea class="form-control" name="descricao"
              placeholder="Adicione aqui detalhes importantes do produto desejado"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <!-- JQuery para o bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>