<!DOCTYPE html>
<html>

<head th:replace="~{base::head('Cadastro de Produto')}"></head>

<body>
  <header th:replace="~{base::header}"></header>
  <div class="container">
    <div th:replace="~{base::titulo('Novo Pedido')}"></div>
    <div class="card">
      <div class="card-body">
        <form th:object="${pedidoTO}" action="/pedido/novo" method="POST">
          <div class="form-group">
            <label for="nomeProduto">Produto: </label>
            <input th:field="*{nomeProduto}" type="text" class="form-control is-invalid" placeholder="nome do produto"
              required>
            <small class="form-text text-muted">Informe qual o nome do produto</small>
            <div th:errors="*{nomeProduto}" class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label for="urlProduto">Url do Produto: </label>
            <input th:field="*{urlProduto}" type="text" class="form-control is-invalid" placeholder="url do produto"
              required>
            <small class="form-text text-muted">Procure em um site o produto desejado e coloque a url aqui</small>
            <div th:errors="*{urlProduto}" class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label for="urlImagem">Url da Imagem: </label>
            <input th:field="*{urlImagem}" type="text" class="form-control is-invalid" placeholder="url da imagem"
              required>
            <small class="form-text text-muted">Coloque aqui a url da imagem do produto desejado aqui</small>
            <div th:errors="*{urlImagem}" class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição: </label>
            <textarea th:field="*{descricao}" class="form-control"
              placeholder="Adicione aqui detalhes importantes do produto desejado"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
  <!-- JQuery para o bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>