<head th:fragment="head(valor)">
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title th:text="${valor}"></title>
</head>

<header th:fragment="header" class="navbar navbar-expand navbar-dark bg-primary d-flex justify-content-between mb-3">
  <a class="navbar-brand" href="/home">HOME</a>
  <a sec:authorize="!isAuthenticated()"class="btn btn-outline-light" href="/login">Login</a>
  <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
    <button class="btn btn-outline-light" type="submit">Logout</button>
  </form>
</header>

<div th:fragment="titulo(valor)" class="jumbotron mb-0">
  <h1 th:text="${valor}" class="display-4"></h1>
</div>