<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Home</title>
</head>

<body>
  <div class="container">
    <div th:each="pedido:${pedidos}" class="card">
      <div th:text=${pedido.nome} class="card-header"></div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-3 col-sm-8">
            <div class="row">
              <div class="col-md-5">Valor: <span th:text=${pedido.valor}></span></div>
              <div class="col-md-7">Data da entrega: <span th:text=${pedido.dataEntrega}></span></div>
            </div>
            <div>
              <label for="urlProduto">Produto:</label>
              <input th:value=${pedido.urlProduto} type="text" id="urlProduto" name="urlProduto" value="Url do produto"
                class="form-control">
            </div>
            <div>
              <label for="descricao">Descrição: </label>
              <textarea th:text=${pedido.descricao} id="descricao" name="descricao" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <img th:src=${pedido.urlImagem} src="" class="img-thumbnail">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- JQuery para o bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>