<!DOCTYPE html>
<html>

<head th:replace="~{base::head('Usuario')}"></head>

<body>
  <header th:replace="~{base::header}"></header>
  <div class="container">
    <div th:replace="~{base::titulo('Meus Pedidos')}"></div>
    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
      <div class="navbar-nav">
        <a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" href="/usuario">Todos</a>
        <a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" href="/usuario/aguardando">Aguardando</a>
        <a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link" href="/usuario/aprovado">Aprovado</a>
        <a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link" href="/usuario/entregue">Entregue</a>
      </div>
      <a href="/pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
    </nav>
    <div th:each="pedido:${pedidos}" class="card mb-2">
      <th:block th:switch="${pedido.status.name()}">
        <div th:case="'AGUARDANDO'" th:text=${pedido.nome} class="card-header alert-warning"></div>
        <div th:case="'APROVADO'" th:text=${pedido.nome} class="card-header alert-success"></div>
        <div th:case="'ENTREGUE'" th:text=${pedido.nome} class="card-header alert-dark"></div>
      </th:block>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-3 col-sm-8">
            <div class="row">
              <div class="col-md-5">Valor: <span th:if="${pedido.valor} != null" th:text="${'R$ ' + #numbers.formatDecimal(pedido.valor,3,'POINT',2,'COMMA')}"></span></div>
              <div class="col-md-7">Data da entrega: <span th:text="${#temporals.format(pedido.dataEntrega, 'dd/MM/yyyy')}"></span></div>
            </div>
            <div>
              <label for="urlProduto">Produto:</label>
              <input th:value="${pedido.urlProduto}" type="text" id="urlProduto" name="urlProduto" value="Url do produto"
                class="form-control">
            </div>
            <div>
              <label for="descricao">Descrição: </label>
              <textarea th:text="${pedido.descricao}" id="descricao" name="descricao" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <img th:src="${pedido.urlImagem}" src="" class="img-thumbnail">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- JQuery para o bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>